fastapi==0.115.6
Flask==3.1.0
flask_migrate==4.0.7
flask_sqlalchemy==3.1.1
mediapipe==0.10.18
numpy<2.0.0
onnxruntime==1.20.1
onnxruntime_gpu==1.20.1
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
pydantic==2.10.4
python-magic-bin==0.4.14
Requests==2.32.3
