<html>
<head>
    <title>Admin Page</title>
    <form action="/logout" method="GET">
        <button type="submit">Log Out</button>
    </form>
    <br><br>
    <form action="/set_threshold" method="post" enctype="multipart/form-data">
        <label for="username">Set threshold:</label>
        <input type="number" id="threshold" name="threshold" max='100' min='70' value='70' required>
        <button type="submit">set</button>
    </form>
    <form action="/login" method="post" enctype="multipart/form-data">
        <label for="username">Set threshold:</label>
        <input type="number" id="threshold" name="threshold" max='100' min='70' value='70' required>
        <button type="submit">set</button>
    </form>
</head>
</html>